.bar-title, .bar-body {
    color: white;
}

.bar-bg {
    width: 100%;
    background-color: rgb(39, 39, 42);
    margin-top: 5%;
    margin-bottom: 5%;
    height: 700px;
}

.abt-img {
    height: fill;
    aspect-ratio: 1 / 1;
}

.bar-txt-div {
    display: inline-flex;
    flex-wrap: nowrap;
    text-align: center;
    
}

/* .bar-flx-div {
    display: inline-flex;
    flex-wrap: nowrap;
    float: center;
} */