.header {
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0px;
    background-color: rgb(39 39 42);
    display: flex;
}

#navbar-icon {
    width: 50px;
    height: 50px;
    display: inline;
    margin: 1rem;
    align-items: center;
}

#navbar-icon:hover {
    cursor: pointer;
}

.navbar {
    display: inline-flex;
}

.navbar-btn {
    color: rgb(255 255 255);
    padding: 0.5rem;
    border-radius: 0.375rem;
    align-items: center;
    display: inline-flex;
    text-decoration: none;
    margin-top: 8%;
    margin-bottom: 8%;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
  
.navbar-btn:hover {
    background-color: rgb(55 65 81);
}
  
.navbar-btn:focus {
    background-color: rgb(55 65 81);
}