body {
  /* background-color: rgb(54,54,54); */
  background-color: rgb(39 39 42);

  background: url(./images/blurred.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card-holder {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}